/* Common applciation based styles. */
@use '../abstract' as ab;
@use 'sass:map';

$arrowDir: bottom, top, left, right;

@include ab.buildGrid();

@each $dir in $arrowDir {
    .arrow-#{$dir}{
        @include ab.arrow($dir);
    }
}
