@use './variables' as *;

@mixin respond-to($breakpoint) {
  $raw-query: map-get($mds_breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(type-of($raw-query)=='string',
        unquote($raw-query),
        inspect($raw-query));

    @media #{$query} {
      @content;
    }
  }

  @else {
    @error 'No value found for `#{$breakpoint}`. '
    +'Please make sure it is defined in `$mds_breakpoints` map.';
  }
}

/* Building respnosive grid. */
@mixin buildGrid {
  /* Common grid container and other styles. */
  .mds_container {
    margin: auto;
  }

  .mds_container-fluid {
    margin: auto;
    width: 100%;
  }

  .mds_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .mds_col {
    flex: 1 0 auto;
  }

  .mds_col-auto {
    flex: 0 0 auto;
  }

  [class^="col"] {
    padding: 0 1rem;
  }

  .mds_no-gutters [class^="col"] {
    padding: 0;
  }

  /* Loops to build the columns for basic and 
                          resolution based split up */
  @for $i from 1 through $mds_grid_columns {
    .mds_col-#{$i} {
      flex: 0 0 100% * ($i / $mds_grid_columns);
    }

    .mds_offset-#{$i} {
      margin-left: 100% * ($i / $mds_grid_columns);
    }
  }

  @include respond-to(xsmall) {
    @for $i from 1 through $mds_grid_columns {
      .mds_col-xs-#{$i} {
        flex: 0 0 100% * ($i / $mds_grid_columns);
      }

      .mds_offset-xs-#{$i} {
        margin-left: 100% * ($i / $mds_grid_columns);
      }
    }

    .mds_container {
      max-width: map-get($mds_width, xsmall);
    }
  }

  @include respond-to(small) {
    @for $i from 1 through $mds_grid_columns {
      .mds_col-sm-#{$i} {
        flex: 0 0 100% * ($i / $mds_grid_columns);
      }

      .mds_offset-sm-#{$i} {
        margin-left: 100% * ($i / $mds_grid_columns);
      }
    }

    .mds_container {
      max-width: map-get($mds_width, small);
    }
  }

  @include respond-to(medium) {
    @for $i from 1 through $mds_grid_columns {
      .mds_col-md-#{$i} {
        flex: 0 0 100% * ($i / $mds_grid_columns);
      }

      .mds_offset-md-#{$i} {
        margin-left: 100% * ($i / $mds_grid_columns);
      }
    }

    .mds_container {
      max-width: map-get($mds_width, medium);
    }
  }

  @include respond-to(large) {
    @for $i from 1 through $mds_grid_columns {
      .mds_col-lg-#{$i} {
        flex: 0 0 100% * ($i / $mds_grid_columns);
      }

      .mds_offset-lg-#{$i} {
        margin-left: 100% * ($i / $mds_grid_columns);
      }
    }

    .mds_container {
      max-width: map-get($mds_width, large);
    }
  }
}