@use "sass:string";
@use './variables' as *;

@mixin build_scheme() {
    @each $schemeKey, $schemeMap in $mds_colors_pallet {
        @each $colorKey, $colorValue in $schemeMap{
            .mds_#{$schemeKey}-#{$colorKey}{
                @if string.index($colorKey, "bg"){
                    background-color: $colorValue;
                }@else if string.index($colorKey, "text"){
                    color: $colorValue;
                }
            }
        }
    }
}
