@use './breakpoints' as bp;

@mixin arrow($direction:left, $size:1em, $color:currentColor) {
    position: relative;
    &::before{
        position: absolute;
        width: 0;
        height: 0;
        border-width: $size;
        border-style: solid;
        border-color: transparent;
        border-#{$direction}-color: $color;
        content: '';
        display: block;
    }
}
