@use './variables' as *;

/* Margin Padding utilities */
@mixin build_spacing() {
    @each $property_key, $property_value in (margin:'m', padding:'p'){
        @each $key, $value in $mds_spacing{
            .mds-#{$property_value}-#{$key}{
                #{$property_key}: $value !important;
            }
            .mds-#{$property_value}-x-#{$key}{
                #{$property_key}-left: $value !important;
                #{$property_key}-right: $value !important;
            }
            .mds-#{$property_value}-y-#{$key}{
                #{$property_key}-top: $value !important;
                #{$property_key}-bottom: $value !important;
            }
            .mds-#{$property_value}-l-#{$key}{
                #{$property_key}-left: $value !important;
            }
            .mds-#{$property_value}-r-#{$key}{
                #{$property_key}-right: $value !important;
            }
            .mds-#{$property_value}-t-#{$key}{
                #{$property_key}-top: $value !important;
            }
            .mds-#{$property_value}-b-#{$key}{
                #{$property_key}-bottom: $value !important;
            }
        }
    }
        
    
}
