/* Responsive Grid */
$mds_grid_columns: 12;

$primary_font: 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';  

$mds_width: (
  'xsmall': 599px,
  'small': 600px,
  'medium': 800px,
  'large': 1000px,
  'huge': 1200px,
);

$mds_breakpoints: (
  'xsmall': (max-width: map-get($mds_width, xsmall)),
  'small': (min-width: map-get($mds_width, small)),
  'medium': (min-width: map-get($mds_width, medium)),
  'large': (min-width: map-get($mds_width, large)),
  'huge': (min-width: map-get($mds_width, huge)),
);

/* Typography */

$mds_primaryFontName : "Roboto";
$mds_secondaryFontName : "";

$typeFace: (
    primary: (
        tag:(
            h1: (lighter, 6rem, -1.5px),
            h2: (lighter, 3.75rem, -0.5px),
            h3: (normal, 3rem, 0),
            h4: (normal, 2.12rem, 0.25),
            h5: (normal, 1.5rem, 0),
            h6: (medium, 1.25rem, 0.15px),
            body: (medium, 1rem, 0.5px),
        ),
        class:(
            button: (medium, 1rem, 1.25px),
            caption: (medium, 0.75rem, 0.4px),
            subTitle: (medium, 1rem, 0.15px)
        )
    )
);


/* Theme Color Palets */

$mds_colors_pallet : (
    primary: (
        base-bg: #1a237e,
        base-text: #fff,
        light-bg: #534bae,
        light-text: #fff,
        dark-bg: #000051,
        dark-text: #fff
    ),
    secondary: (
        base-bg: #1976d2,
        base-text: #fff,
        light-bg: #63a4ff,
        light-text: rgb(32, 31, 31),
        dark-bg: #004ba0,
        dark-text: #fff,    
    ),
    body: (
        bg: #fff,
        text: #fff,
    ),
    surface:(
        bg: #fff,
        text: #fff,
    ),
    success:(
        bg: #fff,
        text: #fff
    ),
    warning:( 
        bg: #fff,
        text: #fff
    ),
    error:(
        bg: #fff,
        text: #fff,
    ),
    info : (
        bg: #fff,
        text: #fff
    )
);

/* Margin and padding utilities */
$mds_spacing_base: .8rem;
$mds_spacing_multiplier: 1.4;

$mds_spacing: (
    xs: $mds_spacing_base,
    sm: $mds_spacing_base * 2 * $mds_spacing_multiplier,
    md: $mds_spacing_base * 3 * $mds_spacing_multiplier,
    lg: $mds_spacing_base * 4 * $mds_spacing_multiplier,
    xl: $mds_spacing_base * 5 * $mds_spacing_multiplier,
    xx: $mds_spacing_base * 6 * $mds_spacing_multiplier
)
